In [1]:
import pandas as pd

In [2]:
df_traffic_N1 = pd.read_csv("../data/traffic_N1.csv", header=[0,1])
df_traffic_N2 = pd.read_csv('../data/traffic_N2.csv', header=[0,1])
df_traffic_N102 = pd.read_csv('../data/traffic_N102.csv', header=[0,1])
df_traffic_N104 = pd.read_csv('../data/traffic_N104.csv', header=[0,1])
df_traffic_N105 = pd.read_csv('../data/traffic_N105.csv', header=[0,1])
df_traffic_N8 = pd.read_csv('../data/traffic_N8.csv', header=[0,1])
df_traffic_N204 = pd.read_csv('../data/traffic_N204.csv', header=[0,1])
df_traffic_N207 = pd.read_csv('../data/traffic_N207.csv', header=[0,1])
df_traffic_N208 = pd.read_csv('../data/traffic_N208.csv', header=[0,1])

In [3]:
df_traffic_N1

    Unnamed: 0_level_0            Link no  \
    Unnamed: 0_level_1 Unnamed: 0_level_1
0                    0              N1-1L
1                    1              N1-1R
2                    2              N1-2L
3                    3              N1-2R
4                    4              N1-3L
..                 ...                ...
100                100              N1-65
101                101              N1-66
102                102              N1-67
103                103              N1-68
104                104              N1-69

                                               Name Start location         \
                                 Unnamed: 1_level_1            LRP Offset
0          Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1         Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2     Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3    Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4            Signboard - Shimrail (Left)R110 (Left)           LRPS   4175
..                                              ...            ...    ...
100          Coxsbazar Link Road N110-Maricha Z1009         LRP386    724
101             Maricha Z1009-Ukhia Dakbanglo Z1503         LRP403    217
102            Ukhia Dakbanglo Z1503 - Gundum Z1504         LRP413    300
103              GundumGundum Z1504 - Whykong Z1133         LRP420    900
104                          Whykong Z1133 - Teknaf         LRP433    521

             End location                  Length  ... Traffic Data  \
    Chainage          LRP Offset Chainage    (Km)  ...          Car
0      0.000         LRPS    822    0.822   0.822  ...       1851.0
1      0.000         LRPS    822    0.822   0.822  ...       2608.0
2      0.822         LRPS   4175    4.175   3.353  ...       2608.0
3      0.822         LRPS   4175    4.175   3.353  ...       1851.0
4      4.175         LRPS   7181    7.181   3.006  ...       1690.0
..       ...          ...    ...      ...     ...  ...          ...
100  381.481       LRP403    217  398.205  16.724  ...        142.0
101  398.205       LRP413    300  408.434  10.229  ...        142.0
102  408.434       LRP420    900  416.044   7.610  ...        142.0
103  416.044       LRP433    521  428.908  12.864  ...        142.0
104  428.908       LRP467    130  462.254  33.346  ...        142.0

                                                               Total  \
    Auto Rickshaw Motor Cycle Bi-Cycle Cycle Rickshaw Cart Motorized
0          2980.0       398.0    232.0          889.0  0.0   18236.0
1          2508.0       436.0    213.0         1088.0  0.0   20236.0
2          2508.0       436.0    213.0         1088.0  0.0   20236.0
3          2980.0       398.0    232.0          889.0  0.0   18236.0
4          2266.0      1087.0     75.0         1198.0  0.0   16288.0
..            ...         ...      ...            ...  ...       ...
100        2476.0       419.0     97.0         1042.0  0.0    4681.0
101        2476.0       419.0     97.0         1042.0  0.0    4681.0
102        2476.0       419.0     97.0         1042.0  0.0    4681.0
103        2476.0       419.0     97.0         1042.0  0.0    4681.0
104        2476.0       419.0     97.0         1042.0  0.0    4681.0

                              Traffic
    Non Motorized Total AADT   (AADT)
0          1121.0    19357.0  19357.0
1          1301.0    21537.0  21537.0
2          1301.0    21537.0  21537.0
3          1121.0    19357.0  19357.0
4          1273.0    17561.0  17561.0
..            ...        ...      ...
100        1139.0     5820.0   5820.0
101        1139.0     5820.0   5820.0
102        1139.0     5820.0   5820.0
103        1139.0     5820.0   5820.0
104        1139.0     5820.0   5820.0

[105 rows x 27 columns]

In [9]:
df_traffic_N1.columns.get_level_values(0)

Index(['Unnamed: 0_level_0', 'Link no', 'Name', 'Start location',
       'Start location', 'Start location', 'End location', 'End location',
       'End location', 'Length', 'Traffic Data', 'Traffic Data',
       'Traffic Data', 'Traffic Data', 'Traffic Data', 'Traffic Data',
       'Traffic Data', 'Traffic Data', 'Traffic Data', 'Traffic Data',
       'Traffic Data', 'Traffic Data', 'Traffic Data', 'Total', 'Total',
       'Total', 'Traffic'],
      dtype='object')

In [4]:
# #1. removing L/R from rows
# df_traffic_N1[('Link no', 'Unnamed: 0_level_1')] =df_traffic_N1[('Link no', 'Unnamed: 0_level_1')].apply(lambda x: x[:-1] if x[:-1] == 'L' or x[:-1] == 'R' else x)
# #

In [5]:
df_traffic_N1

    Unnamed: 0_level_0            Link no  \
    Unnamed: 0_level_1 Unnamed: 0_level_1
0                    0              N1-1L
1                    1              N1-1R
2                    2              N1-2L
3                    3              N1-2R
4                    4              N1-3L
..                 ...                ...
100                100              N1-65
101                101              N1-66
102                102              N1-67
103                103              N1-68
104                104              N1-69

                                               Name Start location         \
                                 Unnamed: 1_level_1            LRP Offset
0          Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1         Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2     Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3    Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4            Signboard - Shimrail (Left)R110 (Left)           LRPS   4175
..                                              ...            ...    ...
100          Coxsbazar Link Road N110-Maricha Z1009         LRP386    724
101             Maricha Z1009-Ukhia Dakbanglo Z1503         LRP403    217
102            Ukhia Dakbanglo Z1503 - Gundum Z1504         LRP413    300
103              GundumGundum Z1504 - Whykong Z1133         LRP420    900
104                          Whykong Z1133 - Teknaf         LRP433    521

             End location                  Length  ... Traffic Data  \
    Chainage          LRP Offset Chainage    (Km)  ...          Car
0      0.000         LRPS    822    0.822   0.822  ...       1851.0
1      0.000         LRPS    822    0.822   0.822  ...       2608.0
2      0.822         LRPS   4175    4.175   3.353  ...       2608.0
3      0.822         LRPS   4175    4.175   3.353  ...       1851.0
4      4.175         LRPS   7181    7.181   3.006  ...       1690.0
..       ...          ...    ...      ...     ...  ...          ...
100  381.481       LRP403    217  398.205  16.724  ...        142.0
101  398.205       LRP413    300  408.434  10.229  ...        142.0
102  408.434       LRP420    900  416.044   7.610  ...        142.0
103  416.044       LRP433    521  428.908  12.864  ...        142.0
104  428.908       LRP467    130  462.254  33.346  ...        142.0

                                                               Total  \
    Auto Rickshaw Motor Cycle Bi-Cycle Cycle Rickshaw Cart Motorized
0          2980.0       398.0    232.0          889.0  0.0   18236.0
1          2508.0       436.0    213.0         1088.0  0.0   20236.0
2          2508.0       436.0    213.0         1088.0  0.0   20236.0
3          2980.0       398.0    232.0          889.0  0.0   18236.0
4          2266.0      1087.0     75.0         1198.0  0.0   16288.0
..            ...         ...      ...            ...  ...       ...
100        2476.0       419.0     97.0         1042.0  0.0    4681.0
101        2476.0       419.0     97.0         1042.0  0.0    4681.0
102        2476.0       419.0     97.0         1042.0  0.0    4681.0
103        2476.0       419.0     97.0         1042.0  0.0    4681.0
104        2476.0       419.0     97.0         1042.0  0.0    4681.0

                              Traffic
    Non Motorized Total AADT   (AADT)
0          1121.0    19357.0  19357.0
1          1301.0    21537.0  21537.0
2          1301.0    21537.0  21537.0
3          1121.0    19357.0  19357.0
4          1273.0    17561.0  17561.0
..            ...        ...      ...
100        1139.0     5820.0   5820.0
101        1139.0     5820.0   5820.0
102        1139.0     5820.0   5820.0
103        1139.0     5820.0   5820.0
104        1139.0     5820.0   5820.0

[105 rows x 27 columns]

In [6]:
#2. Make two transport categories: cargo and people
df_traffic_N1[('Aggregate Traffic Data', 'Total Cargo')] = (df_traffic_N1[('Traffic Data', 'Heavy Truck')] + df_traffic_N1[('Traffic Data', 'Medium Truck')] + df_traffic_N1[('Traffic Data', 'Small Truck')])

In [7]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0              N1-1L
1                  1              N1-1R
2                  2              N1-2L
3                  3              N1-2R
4                  4              N1-3L

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ...  Traffic Data              \
  Chainage          LRP Offset Chainage   (Km)  ... Auto Rickshaw Motor Cycle
0    0.000         LRPS    822    0.822  0.822  ...        2980.0       398.0
1    0.000         LRPS    822    0.822  0.822  ...        2508.0       436.0
2    0.822         LRPS   4175    4.175  3.353  ...        2508.0       436.0
3    0.822         LRPS   4175    4.175  3.353  ...        2980.0       398.0
4    4.175         LRPS   7181    7.181  3.006  ...        2266.0      1087.0

                                   Total                           Traffic  \
  Bi-Cycle Cycle Rickshaw Cart Motorized Non Motorized Total AADT   (AADT)
0    232.0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
1    213.0         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
2    213.0         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
3    232.0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
4     75.0         1198.0  0.0   16288.0        1273.0    17561.0  17561.0

  Aggregate Traffic Data
             Total Cargo
0                 7391.0
1                 8369.0
2                 8369.0
3                 7391.0
4                 4981.0

[5 rows x 28 columns]

In [8]:
df_traffic_N1[('Aggregate Traffic Data', 'Total People')] = (df_traffic_N1[('Traffic Data', 'Large Bus')] + df_traffic_N1[('Traffic Data', 'Medium Bus')] + df_traffic_N1[('Traffic Data', 'Micro Bus')] + df_traffic_N1[('Traffic Data', 'Utility')] + df_traffic_N1[('Traffic Data', 'Car')] + df_traffic_N1[('Traffic Data', 'Motor Cycle')] + df_traffic_N1[('Traffic Data', 'Auto Rickshaw')])

In [9]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0              N1-1L
1                  1              N1-1R
2                  2              N1-2L
3                  3              N1-2R
4                  4              N1-3L

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ... Traffic Data           \
  Chainage          LRP Offset Chainage   (Km)  ...  Motor Cycle Bi-Cycle
0    0.000         LRPS    822    0.822  0.822  ...        398.0    232.0
1    0.000         LRPS    822    0.822  0.822  ...        436.0    213.0
2    0.822         LRPS   4175    4.175  3.353  ...        436.0    213.0
3    0.822         LRPS   4175    4.175  3.353  ...        398.0    232.0
4    4.175         LRPS   7181    7.181  3.006  ...       1087.0     75.0

                          Total                           Traffic  \
  Cycle Rickshaw Cart Motorized Non Motorized Total AADT   (AADT)
0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
1         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
2         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
3          889.0  0.0   18236.0        1121.0    19357.0  19357.0
4         1198.0  0.0   16288.0        1273.0    17561.0  17561.0

  Aggregate Traffic Data
             Total Cargo Total People
0                 7391.0      10845.0
1                 8369.0      11867.0
2                 8369.0      11867.0
3                 7391.0      10845.0
4                 4981.0      11307.0

[5 rows x 29 columns]

In [10]:
df_traffic_N1 = df_traffic_N1.drop(columns = ['Heavy Truck', 'Medium Truck', 'Small Truck', 'Large Bus', 'Medium Bus', 'Micro Bus', 'Utility', 'Car', 'Auto Rickshaw', 'Motor Cycle', 'Bi-Cycle', 'Cycle Rickshaw', 'Cart'], level = 1)

In [11]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0              N1-1L
1                  1              N1-1R
2                  2              N1-2L
3                  3              N1-2R
4                  4              N1-3L

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length     Total                \
  Chainage          LRP Offset Chainage   (Km) Motorized Non Motorized
0    0.000         LRPS    822    0.822  0.822   18236.0        1121.0
1    0.000         LRPS    822    0.822  0.822   20236.0        1301.0
2    0.822         LRPS   4175    4.175  3.353   20236.0        1301.0
3    0.822         LRPS   4175    4.175  3.353   18236.0        1121.0
4    4.175         LRPS   7181    7.181  3.006   16288.0        1273.0

              Traffic Aggregate Traffic Data
  Total AADT   (AADT)            Total Cargo Total People
0    19357.0  19357.0                 7391.0      10845.0
1    21537.0  21537.0                 8369.0      11867.0
2    21537.0  21537.0                 8369.0      11867.0
3    19357.0  19357.0                 7391.0      10845.0
4    17561.0  17561.0                 4981.0      11307.0

In [12]:
#compute average chainage
df_traffic_N1[('Average Traffic Data', 'Average Chainage')] = (df_traffic_N1[('Start location', 'Chainage')] + df_traffic_N1[('End location', 'Chainage')]) / 2

In [13]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0              N1-1L
1                  1              N1-1R
2                  2              N1-2L
3                  3              N1-2R
4                  4              N1-3L

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length     Total                \
  Chainage          LRP Offset Chainage   (Km) Motorized Non Motorized
0    0.000         LRPS    822    0.822  0.822   18236.0        1121.0
1    0.000         LRPS    822    0.822  0.822   20236.0        1301.0
2    0.822         LRPS   4175    4.175  3.353   20236.0        1301.0
3    0.822         LRPS   4175    4.175  3.353   18236.0        1121.0
4    4.175         LRPS   7181    7.181  3.006   16288.0        1273.0

              Traffic Aggregate Traffic Data              Average Traffic Data
  Total AADT   (AADT)            Total Cargo Total People     Average Chainage
0    19357.0  19357.0                 7391.0      10845.0               0.4110
1    21537.0  21537.0                 8369.0      11867.0               0.4110
2    21537.0  21537.0                 8369.0      11867.0               2.4985
3    19357.0  19357.0                 7391.0      10845.0               2.4985
4    17561.0  17561.0                 4981.0      11307.0               5.6780

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Unnamed: 0_level_1), (Link no, Unnamed: 0_level_1), (Name, Unnamed: 1_level_1), (Start location, LRP), (Start location, Offset), (Start location, Chainage), (End location, LRP), (End location, Offset), (End location, Chainage), (Length, (Km)), (Total, Motorized), (Total, Non Motorized), (Total, Total AADT), (Traffic, (AADT)), (Aggregate Traffic Data, Total Cargo), (Aggregate Traffic Data, Total People), (Average Traffic Data, Average Chainage)]
Index: []

In [15]:
df_traffic_N1_copy = df_traffic_N1.copy()

In [16]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = ['Motorized', 'Non Motorized', 'Total AADT'], level = 1)

In [17]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = ['Unnamed: 0_level_0'], level = 0)

In [18]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = ['Traffic', 'Length'], level = 0)

In [19]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = ['(Km)', '(AADT)'], level = 1)

In [20]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = ['Offset', 'Chainage'], level = 1)

In [21]:
df_traffic_N1_copy.head()

             Link no                                            Name  \
  Unnamed: 0_level_1                              Unnamed: 1_level_1
0              N1-1L        Jatrabari - Int.with Z1101 (Left) (Left)
1              N1-1R       Jatrabari - Int.with Z1101 (Left) (Right)
2              N1-2L   Int.with Z1101 - Signboard (Left) R111 (Left)
3              N1-2R  Int.with Z1101 - Signboard (Left) R111 (Right)
4              N1-3L          Signboard - Shimrail (Left)R110 (Left)

  Start location End location Aggregate Traffic Data               \
             LRP          LRP            Total Cargo Total People
0           LRPS         LRPS                 7391.0      10845.0
1           LRPS         LRPS                 8369.0      11867.0
2           LRPS         LRPS                 8369.0      11867.0
3           LRPS         LRPS                 7391.0      10845.0
4           LRPS         LRPS                 4981.0      11307.0

  Average Traffic Data
      Average Chainage
0               0.4110
1               0.4110
2               2.4985
3               2.4985
4               5.6780

In [22]:
df_traffic_N1_copy[("Start location", "Start_LRP")] = df_traffic_N1_copy[("Start location", "LRP")]

In [23]:
df_traffic_N1_copy[("End location", "End_LRP")] = df_traffic_N1_copy[("End location", "LRP")]

In [24]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = [("Start location", "LRP")])

In [25]:
df_traffic_N1_copy = df_traffic_N1_copy.drop(columns = [("End location", "LRP")])

In [26]:
df_traffic_N1_copy = df_traffic_N1_copy.droplevel(0,1)

In [27]:
df_traffic_N1_copy.rename(columns = {'Unnamed: 0_level_1': 'Road', 'Unnamed: 1_level_1': 'Name'}, inplace= True)

In [28]:
df_traffic_N1_copy

,Road,Name,Total Cargo,Total People,Average Chainage,Start_LRP,End_LRP
0,N1-1L,Jatrabari - Int.with Z1101 (Left) (Left),7391.0,10845.0,0.4110,LRPS,LRPS
1,N1-1R,Jatrabari - Int.with Z1101 (Left) (Right),8369.0,11867.0,0.4110,LRPS,LRPS
2,N1-2L,Int.with Z1101 - Signboard (Left) R111 (Left),8369.0,11867.0,2.4985,LRPS,LRPS
3,N1-2R,Int.with Z1101 - Signboard (Left) R111 (Right),7391.0,10845.0,2.4985,LRPS,LRPS
4,N1-3L,Signboard - Shimrail (Left)R110 (Left),4981.0,11307.0,5.6780,LRPS,LRPS
...,...,...,...,...,...,...,...
100,N1-65,Coxsbazar Link Road N110-Maricha Z1009,616.0,4065.0,389.8430,LRP386,LRP403
101,N1-66,Maricha Z1009-Ukhia Dakbanglo Z1503,616.0,4065.0,403.3195,LRP403,LRP413
102,N1-67,Ukhia Dakbanglo Z1503 - Gundum Z1504,616.0,4065.0,412.2390,LRP413,LRP420
103,N1-68,GundumGundum Z1504 - Whykong Z1133,616.0,4065.0,422.4760,LRP420,LRP433
104,N1-69,Whykong Z1133 - Teknaf,616.0,4065.0,445.5810,LRP433,LRP467

In [38]:
duplicates = df_traffic_N1_copy[df_traffic_N1_copy.duplicated(subset = ['Average Chainage'], keep = False)]
duplicates

,Road,Name,Total Cargo,Total People,Average Chainage,Start_LRP,End_LRP
0,N1-1L,Jatrabari - Int.with Z1101 (Left) (Left),7391.0,10845.0,0.4110,LRPS,LRPS
1,N1-1R,Jatrabari - Int.with Z1101 (Left) (Right),8369.0,11867.0,0.4110,LRPS,LRPS
2,N1-2L,Int.with Z1101 - Signboard (Left) R111 (Left),8369.0,11867.0,2.4985,LRPS,LRPS
3,N1-2R,Int.with Z1101 - Signboard (Left) R111 (Right),7391.0,10845.0,2.4985,LRPS,LRPS
4,N1-3L,Signboard - Shimrail (Left)R110 (Left),4981.0,11307.0,5.6780,LRPS,LRPS
...,...,...,...,...,...,...,...
67,N1-34R,Mirersarai Z1021 - Baroirdala Z1086 (Right),5449.0,6292.0,188.0335,LRP164,LRP197
68,N1-35L,Baroirdala Z1086- Barabkunda Z1087 (Left),7205.0,7317.0,200.5025,LRP197,LRP209
69,N1-35R,Baroirdala Z1086- Barabkunda Z1087 (Right),7903.0,7317.0,200.5025,LRP197,LRP209
70,N1-36L,Barabkunda Z1087-Fouzderhat Z1016 (Left),7205.0,7317.0,217.4040,LRP209,LRP225
71,N1-36R,Barabkunda Z1087-Fouzderhat Z1016 (Right),7903.0,7317.0,217.4040,LRP209,LRP225

In [32]:
y = df_traffic_N1_copy.groupby('Average Chainage')['Total Cargo'].mean()

In [33]:
#make a new column, average cargo, that computes the average for the two directions of a link by grouping by link no for cargo average traffic data

In [34]:
df_y = pd.DataFrame(y)
df_y

                  Total Cargo
Average Chainage
0.4110                 7880.0
2.4985                 7880.0
5.6780                 4831.5
7.9720                 4556.5
10.3495                8205.0
...                       ...
389.8430                616.0
403.3195                616.0
412.2390                616.0
422.4760                616.0
445.5810                616.0

[69 rows x 1 columns]

In [39]:
df_traffic_N1_copy.drop_duplicates(subset = ['Average Chainage'], inplace = True)

In [45]:
df_traffic_N1_copy.drop(columns = 'Total Cargo', inplace = True)

In [42]:
df_traffic_N1_copy['Road'] = df_traffic_N1_copy['Road'].str[0:2]

In [43]:
df_traffic_N1_copy

,Road,Name,Total Cargo,Total People,Average Chainage,Start_LRP,End_LRP
0,N1,Jatrabari - Int.with Z1101 (Left) (Left),7391.0,10845.0,0.4110,LRPS,LRPS
2,N1,Int.with Z1101 - Signboard (Left) R111 (Left),8369.0,11867.0,2.4985,LRPS,LRPS
4,N1,Signboard - Shimrail (Left)R110 (Left),4981.0,11307.0,5.6780,LRPS,LRPS
6,N1,Shimrail - Katchpur (Left)N2 (Left),4439.0,11562.0,7.9720,LRPS,LRP009
8,N1,Katchpur - Madanpur (Left)N105 (Left),8617.0,13974.0,10.3495,LRP009,LRP012
...,...,...,...,...,...,...,...
100,N1,Coxsbazar Link Road N110-Maricha Z1009,616.0,4065.0,389.8430,LRP386,LRP403
101,N1,Maricha Z1009-Ukhia Dakbanglo Z1503,616.0,4065.0,403.3195,LRP403,LRP413
102,N1,Ukhia Dakbanglo Z1503 - Gundum Z1504,616.0,4065.0,412.2390,LRP413,LRP420
103,N1,GundumGundum Z1504 - Whykong Z1133,616.0,4065.0,422.4760,LRP420,LRP433
104,N1,Whykong Z1133 - Teknaf,616.0,4065.0,445.5810,LRP433,LRP467

In [50]:
df_traffic_N1_copy = df_traffic_N1_copy.join(df_y, on='Average Chainage')

In [47]:
#also do the same for average people vehicles
x = df_traffic_N1_copy.groupby('Average Chainage')['Total People'].mean()
x_df = pd.DataFrame(x)
x_df

                  Total People
Average Chainage
0.4110                 10845.0
2.4985                 11867.0
5.6780                 11307.0
7.9720                 11562.0
10.3495                13974.0
...                        ...
389.8430                4065.0
403.3195                4065.0
412.2390                4065.0
422.4760                4065.0
445.5810                4065.0

[69 rows x 1 columns]

In [48]:
df_traffic_N1_copy.drop(columns = 'Total People', inplace = True)

In [51]:
df_traffic_N1_copy= df_traffic_N1_copy.join(x_df, on = 'Average Chainage')

In [10]:
df_traffic_N1_copy.reset_index(inplace=True, keep=False)

NameError: name 'df_traffic_N1_copy' is not defined

In [54]:
df_traffic_N1_copy

,index,Road,Name,Average Chainage,Start_LRP,End_LRP,Total Cargo,Total People
0,0,N1,Jatrabari - Int.with Z1101 (Left) (Left),0.4110,LRPS,LRPS,7880.0,10845.0
1,2,N1,Int.with Z1101 - Signboard (Left) R111 (Left),2.4985,LRPS,LRPS,7880.0,11867.0
2,4,N1,Signboard - Shimrail (Left)R110 (Left),5.6780,LRPS,LRPS,4831.5,11307.0
3,6,N1,Shimrail - Katchpur (Left)N2 (Left),7.9720,LRPS,LRP009,4556.5,11562.0
4,8,N1,Katchpur - Madanpur (Left)N105 (Left),10.3495,LRP009,LRP012,8205.0,13974.0
...,...,...,...,...,...,...,...,...
64,100,N1,Coxsbazar Link Road N110-Maricha Z1009,389.8430,LRP386,LRP403,616.0,4065.0
65,101,N1,Maricha Z1009-Ukhia Dakbanglo Z1503,403.3195,LRP403,LRP413,616.0,4065.0
66,102,N1,Ukhia Dakbanglo Z1503 - Gundum Z1504,412.2390,LRP413,LRP420,616.0,4065.0
67,103,N1,GundumGundum Z1504 - Whykong Z1133,422.4760,LRP420,LRP433,616.0,4065.0
68,104,N1,Whykong Z1133 - Teknaf,445.5810,LRP433,LRP467,616.0,4065.0