In [1]:
import pandas as pd

In [2]:
df_traffic_N1 = pd.read_csv("../data/traffic_N1.csv", header=[0,1])
df_traffic_N2 = pd.read_csv('../data/traffic_N2.csv', header=[0,1])
df_traffic_N102 = pd.read_csv('../data/traffic_N102.csv', header=[0,1])
df_traffic_N104 = pd.read_csv('../data/traffic_N104.csv', header=[0,1])
df_traffic_N105 = pd.read_csv('../data/traffic_N105.csv', header=[0,1])
df_traffic_N8 = pd.read_csv('../data/traffic_N8.csv', header=[0,1])
df_traffic_N204 = pd.read_csv('../data/traffic_N204.csv', header=[0,1])
df_traffic_N207 = pd.read_csv('../data/traffic_N207.csv', header=[0,1])
df_traffic_N208 = pd.read_csv('../data/traffic_N208.csv', header=[0,1])

In [3]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0              N1-1L
1                  1              N1-1R
2                  2              N1-2L
3                  3              N1-2R
4                  4              N1-3L

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ... Traffic Data  \
  Chainage          LRP Offset Chainage   (Km)  ...          Car
0    0.000         LRPS    822    0.822  0.822  ...       1851.0
1    0.000         LRPS    822    0.822  0.822  ...       2608.0
2    0.822         LRPS   4175    4.175  3.353  ...       2608.0
3    0.822         LRPS   4175    4.175  3.353  ...       1851.0
4    4.175         LRPS   7181    7.181  3.006  ...       1690.0

                                                             Total  \
  Auto Rickshaw Motor Cycle Bi-Cycle Cycle Rickshaw Cart Motorized
0        2980.0       398.0    232.0          889.0  0.0   18236.0
1        2508.0       436.0    213.0         1088.0  0.0   20236.0
2        2508.0       436.0    213.0         1088.0  0.0   20236.0
3        2980.0       398.0    232.0          889.0  0.0   18236.0
4        2266.0      1087.0     75.0         1198.0  0.0   16288.0

                            Traffic
  Non Motorized Total AADT   (AADT)
0        1121.0    19357.0  19357.0
1        1301.0    21537.0  21537.0
2        1301.0    21537.0  21537.0
3        1121.0    19357.0  19357.0
4        1273.0    17561.0  17561.0

[5 rows x 27 columns]

In [4]:
#1. removing L/R from rows
df_traffic_N1[('Link no', 'Unnamed: 0_level_1')] = df_traffic_N1[('Link no', 'Unnamed: 0_level_1')].str[:-1]

In [5]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0               N1-1
1                  1               N1-1
2                  2               N1-2
3                  3               N1-2
4                  4               N1-3

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ... Traffic Data  \
  Chainage          LRP Offset Chainage   (Km)  ...          Car
0    0.000         LRPS    822    0.822  0.822  ...       1851.0
1    0.000         LRPS    822    0.822  0.822  ...       2608.0
2    0.822         LRPS   4175    4.175  3.353  ...       2608.0
3    0.822         LRPS   4175    4.175  3.353  ...       1851.0
4    4.175         LRPS   7181    7.181  3.006  ...       1690.0

                                                             Total  \
  Auto Rickshaw Motor Cycle Bi-Cycle Cycle Rickshaw Cart Motorized
0        2980.0       398.0    232.0          889.0  0.0   18236.0
1        2508.0       436.0    213.0         1088.0  0.0   20236.0
2        2508.0       436.0    213.0         1088.0  0.0   20236.0
3        2980.0       398.0    232.0          889.0  0.0   18236.0
4        2266.0      1087.0     75.0         1198.0  0.0   16288.0

                            Traffic
  Non Motorized Total AADT   (AADT)
0        1121.0    19357.0  19357.0
1        1301.0    21537.0  21537.0
2        1301.0    21537.0  21537.0
3        1121.0    19357.0  19357.0
4        1273.0    17561.0  17561.0

[5 rows x 27 columns]

In [6]:
#2. Make two transport categories: cargo and people
df_traffic_N1[('Average Traffic Data', 'Cargo')] = (df_traffic_N1[('Traffic Data', 'Heavy Truck')] + df_traffic_N1[('Traffic Data', 'Medium Truck')] + df_traffic_N1[('Traffic Data', 'Small Truck')])/3

In [7]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0               N1-1
1                  1               N1-1
2                  2               N1-2
3                  3               N1-2
4                  4               N1-3

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ...  Traffic Data              \
  Chainage          LRP Offset Chainage   (Km)  ... Auto Rickshaw Motor Cycle
0    0.000         LRPS    822    0.822  0.822  ...        2980.0       398.0
1    0.000         LRPS    822    0.822  0.822  ...        2508.0       436.0
2    0.822         LRPS   4175    4.175  3.353  ...        2508.0       436.0
3    0.822         LRPS   4175    4.175  3.353  ...        2980.0       398.0
4    4.175         LRPS   7181    7.181  3.006  ...        2266.0      1087.0

                                   Total                           Traffic  \
  Bi-Cycle Cycle Rickshaw Cart Motorized Non Motorized Total AADT   (AADT)
0    232.0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
1    213.0         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
2    213.0         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
3    232.0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
4     75.0         1198.0  0.0   16288.0        1273.0    17561.0  17561.0

  Average Traffic Data
                 Cargo
0          2463.666667
1          2789.666667
2          2789.666667
3          2463.666667
4          1660.333333

[5 rows x 28 columns]

In [8]:
df_traffic_N1[('Average Traffic Data', 'People')] = (df_traffic_N1[('Traffic Data', 'Large Bus')] + df_traffic_N1[('Traffic Data', 'Medium Bus')] + df_traffic_N1[('Traffic Data', 'Micro Bus')] + df_traffic_N1[('Traffic Data', 'Utility')] + df_traffic_N1[('Traffic Data', 'Car')] + df_traffic_N1[('Traffic Data', 'Motor Cycle')] + df_traffic_N1[('Traffic Data', 'Auto Rickshaw')])/7

In [9]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0               N1-1
1                  1               N1-1
2                  2               N1-2
3                  3               N1-2
4                  4               N1-3

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length  ... Traffic Data           \
  Chainage          LRP Offset Chainage   (Km)  ...  Motor Cycle Bi-Cycle
0    0.000         LRPS    822    0.822  0.822  ...        398.0    232.0
1    0.000         LRPS    822    0.822  0.822  ...        436.0    213.0
2    0.822         LRPS   4175    4.175  3.353  ...        436.0    213.0
3    0.822         LRPS   4175    4.175  3.353  ...        398.0    232.0
4    4.175         LRPS   7181    7.181  3.006  ...       1087.0     75.0

                          Total                           Traffic  \
  Cycle Rickshaw Cart Motorized Non Motorized Total AADT   (AADT)
0          889.0  0.0   18236.0        1121.0    19357.0  19357.0
1         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
2         1088.0  0.0   20236.0        1301.0    21537.0  21537.0
3          889.0  0.0   18236.0        1121.0    19357.0  19357.0
4         1198.0  0.0   16288.0        1273.0    17561.0  17561.0

  Average Traffic Data
                 Cargo       People
0          2463.666667  1549.285714
1          2789.666667  1695.285714
2          2789.666667  1695.285714
3          2463.666667  1549.285714
4          1660.333333  1615.285714

[5 rows x 29 columns]

In [10]:
df_traffic_N1 = df_traffic_N1.drop(columns = ['Heavy Truck', 'Medium Truck', 'Small Truck', 'Large Bus', 'Medium Bus', 'Micro Bus', 'Utility', 'Car', 'Auto Rickshaw', 'Motor Cycle', 'Bi-Cycle', 'Cycle Rickshaw', 'Cart'], level = 1)

In [11]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0               N1-1
1                  1               N1-1
2                  2               N1-2
3                  3               N1-2
4                  4               N1-3

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length     Total                \
  Chainage          LRP Offset Chainage   (Km) Motorized Non Motorized
0    0.000         LRPS    822    0.822  0.822   18236.0        1121.0
1    0.000         LRPS    822    0.822  0.822   20236.0        1301.0
2    0.822         LRPS   4175    4.175  3.353   20236.0        1301.0
3    0.822         LRPS   4175    4.175  3.353   18236.0        1121.0
4    4.175         LRPS   7181    7.181  3.006   16288.0        1273.0

              Traffic Average Traffic Data
  Total AADT   (AADT)                Cargo       People
0    19357.0  19357.0          2463.666667  1549.285714
1    21537.0  21537.0          2789.666667  1695.285714
2    21537.0  21537.0          2789.666667  1695.285714
3    19357.0  19357.0          2463.666667  1549.285714
4    17561.0  17561.0          1660.333333  1615.285714

In [12]:
#compute average chainage
df_traffic_N1[('Average Traffic Data', 'Average Chainage')] = (df_traffic_N1[('Start location', 'Chainage')] + df_traffic_N1[('End location', 'Chainage')]) / 2

In [13]:
df_traffic_N1.head()

  Unnamed: 0_level_0            Link no  \
  Unnamed: 0_level_1 Unnamed: 0_level_1
0                  0               N1-1
1                  1               N1-1
2                  2               N1-2
3                  3               N1-2
4                  4               N1-3

                                             Name Start location         \
                               Unnamed: 1_level_1            LRP Offset
0        Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1       Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2   Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3  Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4          Signboard - Shimrail (Left)R110 (Left)           LRPS   4175

           End location                 Length     Total                \
  Chainage          LRP Offset Chainage   (Km) Motorized Non Motorized
0    0.000         LRPS    822    0.822  0.822   18236.0        1121.0
1    0.000         LRPS    822    0.822  0.822   20236.0        1301.0
2    0.822         LRPS   4175    4.175  3.353   20236.0        1301.0
3    0.822         LRPS   4175    4.175  3.353   18236.0        1121.0
4    4.175         LRPS   7181    7.181  3.006   16288.0        1273.0

              Traffic Average Traffic Data
  Total AADT   (AADT)                Cargo       People Average Chainage
0    19357.0  19357.0          2463.666667  1549.285714           0.4110
1    21537.0  21537.0          2789.666667  1695.285714           0.4110
2    21537.0  21537.0          2789.666667  1695.285714           2.4985
3    19357.0  19357.0          2463.666667  1549.285714           2.4985
4    17561.0  17561.0          1660.333333  1615.285714           5.6780

In [14]:
duplicates = df_traffic_N1[df_traffic_N1.duplicated([('Link no', 'Unnamed: 0_level_1')], keep = False)]
duplicates

    Unnamed: 0_level_0            Link no  \
    Unnamed: 0_level_1 Unnamed: 0_level_1
0                    0               N1-1
1                    1               N1-1
2                    2               N1-2
3                    3               N1-2
4                    4               N1-3
..                 ...                ...
100                100               N1-6
101                101               N1-6
102                102               N1-6
103                103               N1-6
104                104               N1-6

                                               Name Start location         \
                                 Unnamed: 1_level_1            LRP Offset
0          Jatrabari - Int.with Z1101 (Left) (Left)           LRPS      0
1         Jatrabari - Int.with Z1101 (Left) (Right)           LRPS      0
2     Int.with Z1101 - Signboard (Left) R111 (Left)           LRPS    822
3    Int.with Z1101 - Signboard (Left) R111 (Right)           LRPS    822
4            Signboard - Shimrail (Left)R110 (Left)           LRPS   4175
..                                              ...            ...    ...
100          Coxsbazar Link Road N110-Maricha Z1009         LRP386    724
101             Maricha Z1009-Ukhia Dakbanglo Z1503         LRP403    217
102            Ukhia Dakbanglo Z1503 - Gundum Z1504         LRP413    300
103              GundumGundum Z1504 - Whykong Z1133         LRP420    900
104                          Whykong Z1133 - Teknaf         LRP433    521

             End location                  Length     Total                \
    Chainage          LRP Offset Chainage    (Km) Motorized Non Motorized
0      0.000         LRPS    822    0.822   0.822   18236.0        1121.0
1      0.000         LRPS    822    0.822   0.822   20236.0        1301.0
2      0.822         LRPS   4175    4.175   3.353   20236.0        1301.0
3      0.822         LRPS   4175    4.175   3.353   18236.0        1121.0
4      4.175         LRPS   7181    7.181   3.006   16288.0        1273.0
..       ...          ...    ...      ...     ...       ...           ...
100  381.481       LRP403    217  398.205  16.724    4681.0        1139.0
101  398.205       LRP413    300  408.434  10.229    4681.0        1139.0
102  408.434       LRP420    900  416.044   7.610    4681.0        1139.0
103  416.044       LRP433    521  428.908  12.864    4681.0        1139.0
104  428.908       LRP467    130  462.254  33.346    4681.0        1139.0

                Traffic Average Traffic Data
    Total AADT   (AADT)                Cargo       People Average Chainage
0      19357.0  19357.0          2463.666667  1549.285714           0.4110
1      21537.0  21537.0          2789.666667  1695.285714           0.4110
2      21537.0  21537.0          2789.666667  1695.285714           2.4985
3      19357.0  19357.0          2463.666667  1549.285714           2.4985
4      17561.0  17561.0          1660.333333  1615.285714           5.6780
..         ...      ...                  ...          ...              ...
100     5820.0   5820.0           205.333333   580.714286         389.8430
101     5820.0   5820.0           205.333333   580.714286         403.3195
102     5820.0   5820.0           205.333333   580.714286         412.2390
103     5820.0   5820.0           205.333333   580.714286         422.4760
104     5820.0   5820.0           205.333333   580.714286         445.5810

[105 rows x 17 columns]

In [15]:
df_traffic_N1_copy = df_traffic_N1.copy()

In [16]:
#make a new column, average cargo, that computes the average for the two directions of a link by grouping by link no for cargo average traffic data
df_traffic_N1_copy[('Average Traffic Data', 'Average Cargo')] = df_traffic_N1_copy.groupby('Link no')['Average Traffic Data', 'Cargo'].transform('mean')

ValueError: Grouper for 'Link no' not 1-dimensional

In [ ]:
#also do the same for average people vehicles
# df_traffic_N1_copy[('Average Traffic Data', 'Average Cargo')] = df_traffic_N1_copy.groupby('Link no')['Average Traffic Data', 'Cargo'].transform('mean')